<GroupPatterns>
  <GroupPattern>
    <NamePattern>config\d*.hcs.harvard.edu</NamePattern>
    <Group>config-server</Group>
  </GroupPattern>
  <GroupPattern>
    <NamePattern>mail\d+.hcs.harvard.edu</NamePattern>
    <Group>mail-server</Group>
  </GroupPattern>
  <GroupPattern>
    <NamePattern>file\d+.hcs.harvard.edu</NamePattern>
    <Group>file-server</Group>
  </GroupPattern>
</GroupPatterns>
